body::before {
    display: block;
    content: '';
    height: 56px;
}

@media (min-width: 768px) and (max-width: 1920px) {
    .news-input {
        width: 40%;
    }
    .contact-card {
        width: 50%;
    }
}


@media screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
        gap: 2em;
    }
    p {
        font-size: 1em !important;
    }

    h1, 
    h2, 
    h3, 
    p, 
    span {
        text-align: center;
    }

    #comoUnirte, #queHacemos, #quienesSomos {
        text-align: center;
        padding: 2rem !important;
    }
    .requirement-list {
        text-align: left !important;
    }
    .list-group, .title-logo {
        font-size: 1em;
    }
  }

 
.linknone {
    text-decoration:none;
}

.bg-opacity {
    background-color: rgba(var(--bs-dark-rgb),0.8)!important;
}

form {
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    letter-spacing: 0.1rem;
}

form input, form textarea {
    border: 0;
    outline: none;
    background-color: #F5F5F5;
} 

.bg-fachada {
    height: 55vh;
    background-image: url(img/fachada.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale();
    transform: scale();
}